/*STARTER CODE*/

/*
We have started some of the selectors for you.
For others we have provided hints on what the selectors should be.
There are some missing selectors.

Make sure to learn what the starter code does!!
*/

body{
  color: black;
  font-family: 'Andika', sans-serif;
  font-size: 16px;
  margin: 1.2em;
  background: #DDDDDD url('../images/pigeon-background.JPEG');
  background-size: cover ;
  background-position: center;
  background-repeat: no-repeat;

}

main{
  margin-bottom: 100px;
}

h1{
  color: #8000FF;
  font-size: 2em;
  line-height: 1.5;
  text-align: center;
}

caption{
  margin:5px 0px;
}

p{
  padding-top: 10px;
}

a{
  color: darkred;
  text-decoration-style: wavy;
}

table{
  border-collapse: separate;
  border-radius: 15px 15px 15 px 15px;
  margin-left:auto; 
  margin-right:auto;
  overflow: hidden;
  border-spacing: 0;
}
.colhead{
  min-height: 100 px;
  padding: 10px;
  text-align: center;
  text-transform: uppercase; 
  background-color: #7e0820;
  color: white;
}
 tr, th {
  border-bottom: 2px solid black;
}

.rowhead{
  border-top: 2px black;
}

tbody tr:hover{
  background-color: rgb(126,8,32);
  opacity: .5;
  transition: 2s ease;
}

:focus{
  border-top: 2px black;
}

td{
  text-align: center;
  padding: 15px;
  border-bottom: 2px solid black;
}

tr:nth-child(odd) {
  background-color: #D1D1D1;
}
tr:nth-child(even){
  background-color:transparent;
}

tbody tr:nth-child(even) th{
  border-left: 2px solid black;
}

tbody tr:nth-child(even) td:last-child{
  border-right: 2px solid black;
}

thead tr:first-child th:first-child{
  border-radius: 15px 0 0 0;
}
thead tr:first-child th:last-child{
  border-radius: 0 15px 0 0;
}
tbody tr:last-child th:first-child {
  border-radius: 0 0 0 15px;
}
tbody tr:last-child td:last-child {
  border-radius: 0 0 15px 0;
}

footer{
  position:fixed;
  min-height: 60 px;
  left:0px;
  bottom:0px;
  width:100%;
  background:black;
  text-align:center;
  color: white;
}
